/* Styles for selected images */
.selected-image {
  display: inline-block;
  margin: 10px;
  border: 2px solid green; /* Bordure verte pour les images sélectionnées */
  border-radius: 50%; /* Pour créer un cercle */
  background-color: green; /* Couleur de fond verte pour les images sélectionnées */
}

.selected-image img {
  width: 100px; /* Ajustez la taille de l'image sélectionnée selon vos besoins */
  height: 100px; /* Ajustez la taille de l'image sélectionnée selon vos besoins */
}

/* Styles for non-selected images */
.image {
  display: inline-block;
  margin: 10px;
}

.image img {
  width: 100px; /* Ajustez la taille de l'image non sélectionnée selon vos besoins */
  height: 100px; /* Ajustez la taille de l'image non sélectionnée selon vos besoins */
}
